{% extends "registry/browse.html" %}
{% block body %}
<h1>Add a new pet</h1>

{% if errors %}
{% for error in errors %}
<em>{{ error }}</em>
{% endfor %}
{% endif %}

<form method="POST" action="{% url action="add" %}">
<p>
<label>Name: </label>
{% if pet %}
<input type="text" name="Name" value="{{ pet.name }}"/>
{% else %}
<input type="text" name="Name" />
{% endif %}
</p>
<p>
<label>Kind: </label>
{% if pet %}
<input type="text" name="Kind" value="{{ pet.kind }}" />
{% else %}
<input type="text" name="Kind" />
{% endif %}
</p>
<p>
<input type="submit" />
</p>
</form>
<a href="{% url action="browse" %}">Back</a>
{% endblock %}
