{% extends "registry/browse.html" %}
{% block body %}
<h1>Edit existing pet</h1>

{% if errors %}
{% for error in errors %}
<em>{{ error }}</em>
{% endfor %}
{% endif %}

<form method="POST" action="{% url action="edit" id=pet.id %}">
<p>
<label>Name: </label>
<input type="text" name="Name" value="{{ pet.name }}" />
</p>
<p>
<label>Kind: </label>
<input type="text" name="Kind" value="{{ pet.kind }}" />
</p>
<p>
<input type="submit" />
</p>
</form>
<form method="GET" action="{% url action="delete" id=pet.id %}">
<input type="submit" value="Delete" />
</form>
<p>
<a href="{% url action="browse" %}">Back</a>
</p>
{% endblock %}
